/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/docker-faiss-python3.8.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/Dockerfile_full
